
.main {
  margin-top: calc(var(--header-height) + var(--block-margin));
}

.page-layout {
  display: flex;
  justify-content: flex-start;
}

.page-sidebar {
  margin-right: 10px;
}

.page-body {
  flex: 1;
}